+++
title = "MCTown"
linkTitle = "MCTown"

+++

{{< blocks/cover title="MCTown" image_anchor="top" height="full" color="blue" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		了解更多 <i class="fa fa-angle-double-right"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://f.mctown.tech/">
		前往论坛 <i class="fa fa-angle-double-right"></i>
	</a>
	<p class="lead mt-5">MCTown是一个生存向公益服务器</p>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fas fa-user-friends" title="环境友善" %}}
无论你是萌新还是大佬，都会受到玩家欢迎<br>
没有任何OP拦住你前进的步伐，~~但是玩家就不一定了~~
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-sticky-note" title="审核机制" %}}
双重审核要求：1.理论题目2.实际运用题目<br>
只要技术达到就一定可以通过
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-poll" title="民主决策" %}}
涉及到大的变动会在群里征求各位的意见<br>
有想法的可以主动申请建设服务器，欢迎各位建言献策！
{{% /blocks/feature %}}

{{< /blocks/section >}}
